<h1>The Meal Description
</h1>


       <div class="eachMeal">
           <div >
               <img class="mealImg" src="/img/{{data.imgAddress}}" height="300px" width="300px">
           </div>
           <div class="mealTitle" style="font-size: 40px;">{{data.title}}</div>
           <div class="mealPrice">${{data.price}}</div>
       </div>
    
<form action="/addToCart" method="POST">

<input type="hidden" name="id" value="{{data.id}}">
<input type="hidden" name="title" value="{{data.title}}">
<input type="hidden" name="price" value="{{data.price}}">


<button type="button" onclick="minusButton()">-</button>
<input min=1 type="number" name="quantity" id="qty" value=1>
<button type="button" onclick="plusButton()">+</button>
<input type="submit" value="submit">
</form>
<script>
    function minusButton(){
        document.getElementById("qty").stepDown();
    }
    
    function plusButton(){
        document.getElementById("qty").stepUp();
    }
</script>